<!DOCTYPE html>
<head>
	<meta charset="ISO-8859-1" />
	<title>Add Buffet | Lucanian Catering</title>
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap">
    	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Trirong">	
    	<link rel="stylesheet" th:href="@{/css/css-general.css}">	
</head>

<body>
	<header th:replace="fragments/intestazione-general.html :: intestazione"></header>
	<div th:replace="fragments/intestazione-general.html :: sfondo2"></div>
	<div id="text">
		<h1 class="title">Aggiungi un Buffet</h1>
		<form th:action="@{/addBuffet}" method="POST" th:object="${buffet}">
			<table>
				<div th:if="${#fields.hasGlobalErrors()}" role="alert">
					<h4 align="center" th:each="err : ${#fields.globalErrors()}" th:text="'Errore: ' + ${err}">...</h4>
				</div>
				<tr class="button">
					<th> Nome Buffet</th>
					<td>
						<input type="text" placeholder="Nome Buffet" th:field="*{nome}">
					</td>
					<td th:if="${#fields.hasErrors('nome')}" th:errors="*{nome}" th:style="'color:darkred'"></td>
				</tr>
				<tr class="button">
					<th> Descrizione Buffet</th>
					<td>
						<input type="text" placeholder="Descrizione Buffet" th:field="*{descrizione}">
					</td>
					<td th:if="${#fields.hasErrors('descrizione')}" th:errors="*{descrizione}" th:style="'color:darkred'"></td>
				</tr>
				<tr class="button">
					<th> Id Chef Proprietario</th>
					<td>
						<input type="text" placeholder="Id Chef proprietario" th:field="*{chefProprietario.id}">
					</td>
					<td th:if="${#fields.hasErrors('chefProprietario.id')}" th:errors="*{chefProprietario.id}" th:style="'color:darkred'"></td>
				</tr>
				<tr class="button" id="buttons">
            				<td>
                					<button type="submit">Aggiungi Buffet</button>
            				</td>
        				</tr>
			</table>
		</form>
	</div>
</body>