<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="ISO-8859-1" />
	<title>Chef| Lucanian Catering</title>
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap">
    	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Trirong">	
    	<link rel="stylesheet" th:href="@{/css/css-general.css}">	
</head>

<body>
	<header th:replace="fragments/intestazione-general.html :: intestazione"></header>
	<div th:replace="fragments/intestazione-general.html :: sfondo3"></div>
	<div id="schedaChef">
		<div class="credenziali">
			<h1 th:text="${chef.nome} + ' ' + ${chef.cognome}">Nome Cognome</h1>
			<div class="descrizione">
				<h3> Cittadinanza:</h3>
				<p th:text="${chef.nazionalita}"> Nazionalità </p>
			</div>
			<div class="descrizione">
				<h3> Id:</h3>
				<p th:text="${chef.id}"> Id </p>
			</div>
			<a class="buttonVisualizzaISuoiBuffets" th:href="@{'/buffetsPerChef' + '/' + ${chef.id}}">Visualizza i suoi Buffets</a>
		</div>
		<img th:attr="src=@{'/images/' + ${chef.cognome} + '.jpg'},title=${chef.cognome},alt=${chef.cognome}" class="fotoChef">

	</div>
</body>
</html>