<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="ISO-8859-1" />
	<title>Elenco Piatti| Lucanian Catering</title>
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap">
    	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Trirong">	
    	<link rel="stylesheet" th:href="@{/css/css-general.css}">	
</head>

<body>
	<header th:replace="fragments/intestazione-general.html :: intestazione"></header>
	<div th:replace="fragments/intestazione-general.html :: sfondo3"></div>
	<div id="corpo">
		<h1 class="intestazione">Our Dishes</h1>
		<h4 class="intestazione">Ti presentiamo una lista dei piatti disponibili</h4>	
		<div class="lista">
			<li th:each="piatto: ${listaPiatti}">
				<div class="contenitore">
					<img src="../images/ImmaginePiatto.jpg" class="immagineBuffets">
					<a class="sovrapposizione" th:text="${piatto.nome}" th:href="@{'/visualizzapiatto/'+${piatto.id}}">Nome Piatto</a>
				</div>
			</li>
		</div>
	</div>
</body>
</html>