<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="ISO-8859-1" />
	<title>Registration Successful | Lucanian Catering</title>
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Trirong">	
    <link rel="stylesheet" th:href="@{/css/css-general.css}">
</head>

<body>
	<header th:replace="fragments/intestazione-general.html :: intestazione"></header>
	<div th:replace="fragments/intestazione-general.html :: sfondo3"></div>
	<div>
		<h1 class="registration">Congratulazioni ti sei registrato!</h1>
		<a id="returnLoginButton" th:href="@{/login}">Login</a>
	</div>
</body>
</html>